<!DOCTYPE html>

<html>
<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" value="width=device-width, initial-scale=1">
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="icon" href="/static/img/favicon.png">
</head>

<body>

  <header>
    <h1>{{ .Title }}</h1>
  </header>

  {{.LayoutContent}}

  <section id="outMessage"></section>

  <footer>
    <p>Предметы:</p>
    <ul>
      {{ range $k, $v := .Items }}
        {{ if $v }}
          <li class="own">{{ $k }} (есть)</li>
        {{ else }}
          <li class="do-not-own">{{ $k }} (не найдено)</li>
        {{ end }}
      {{ end }}
    </ul>
  </footer>

</body>
</html>
